@charset "utf-8";
.top{
	width: 100%;
	height: 5px;
	background: #09238B;
}
.chiness{
	width: 138px;
	height: 22px;
	background-color: #09238B;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	float: right;
}
.chiness a{
	font-size: 12px;
	color: #fff;
	font-family: "微软雅黑";
	line-height: 22px;
	float: left;
}
.chiness a:nth-child(1){
	margin-left: 20px;
}
.chiness span{
	font-size: 12px;
	color: #fff;
	line-height: 22px;
	float: left;
	padding:0px 15px;
}
/*header;*/
.header{
	width: 1000px;
	height: 65px;
	background-color: #fff;
	margin-top: 22px;
	position: relative;
	margin-bottom: 12px;
}
.logo{
	float: left;
}
/*nav*/
.nav{
	width: 561px;
	height: 21px;
	position: absolute;
	bottom: 0px;
	right: 0;
}
.nav ul li{
	width: 80px;
	height: 21px;
	float: left;
}
.nav ul li:hover a{
	color: #032095;
}
.nav ul li a{
	font-size: 14px;
	color: #333333;
	text-align: center;
	line-height: 21px;
	display: block;
	font-family: "微软雅黑";
}
.nav ul li a.active{
	color: #032095;
}
.bottom{
	width: 100%;
	height: 1px;
	background-color: #CCCCCC;
}
/*首页*/
.inde{
	width: 1000px;
	height: 39px;
	text-align:left;
}
.best{
	font-size: 12px;
	color: #272727;
	font-family: "微软雅黑";
	line-height: 39px;
}
/*首页*/
.bigbac{
	width: 100%;
	height: 1245px;
	background: url(../images/bac3.jpg);
}
.c_left{
	width: 200px;
	height: 1245px;
}
.c_left h2{
	font-size: 24px;
	color: #0F298D;
	font-family: "微软雅黑";
	margin-block-start: 0;
    margin-block-end:0;
    margin-top: 43px;
    padding-bottom: 6px;
    border-bottom: 1px solid #CCCCCC;
}
.c_left ul li{
	width: 200px;
	height: 39px;
	border-bottom: 1px solid #CCCCCC;
}
.c_left ul li a{
	font-size: 14px;
	color: #272727;
	font-family: "微软雅黑";
	line-height: 39px;
}
.c_left ul li a.active{
	font-weight: bold;
	color: #000;
}
.c_left ul li a:hover{
	font-weight: bold;
	color: #000;
}
.c_right{
	width: 768px;
	height: 1245px;
}
.c_right h2{
	font-size: 20px;
	color: #000;
	margin-top: 47px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 8px;
	margin-bottom: 16px;
}
.cr_box{
	width: 768px;
	height: 1072px;
	border-bottom: 1px dashed #CCCCCC;
}
.gwd{
	text-align: center;
	width: 256px;
	height: 254px;
	background-color: #FCFCFC;
	float: left;
	transition: all .7s;
}
.gwd:hover{
	background-color: #10298E;
}
.gwd:hover p{
	color: #fff;
}
.gwd a img{
	margin: 8px;
}
.gwd p{
	font-size: 12px;
	color: #272727;
	line-height: 40px;
}
.fenye{
	width: 768px;
	height: 19px;
	padding-top:17px;
	float: left;
}
.fenye .item1 li{
	float: left;
}
.fenye .item1 li a{
	font-size: 12px;
	color: #000;
	display: block;
}
.fenye .item1 li a:hover{
	color: #10298E;
}
.fenye .item1 span{
	font-size: 12px;
	color: #000;
	float: left;
	display: block;
	margin: 0 5px;
}
.item2{
	float: right;
}
.item2 li{
	float: left;
	font-size: 12px;
	color: #000;
}
.item2 li a{
	float: left;
	font-size: 12px;
	color: #000;
}

/*footer*/
.footer{
	width: 100%;
	height: 295px;
	background-color: #5F5F5F;
	border-top: 4px solid #09238B;
}
.about{
	width: 1000px;
	height: 19px;
	padding-top: 31px;
	padding-bottom: 14px;
	border-bottom: 1px solid #888888;
}
.gw{
	width: 144px;
	font-size: 12px;
	color: #fff;
	float: left;
}
.gw:nth-child(5){
	width: 230px;
}
.gw_1{
	width: 144px;
	height: 129px;
	float: left;
	padding-top: 11px;
}
.gw_1 a{
	font-size: 12px;
	color: #CBCBCB;
	line-height: 18px;
}
.gw_1 a:hover{
	color: #fff;
}
.gw_1:nth-child(6){
	width: 230px;
}
.er{
	width: 185px;
	height: 129px;
	padding-top: 20px;
	float: left;
}
.er ul li{
	float: left;
	width: 84px;
	height: 118px;
	text-align: center;
}
.er ul li:nth-child(1){
	margin-right: 16px;
}
.er ul li span{
	font-size: 12px;
	color: #CBCBCB;
	line-height: 10px;
}
.footer_b{
	width: 1000px;
	height: 19px;
	padding: 18px 0px;
}
.p1 span{
	font-size: 12px;
	color: #CBCBCB;
	display: block;
	float: left;
}
.p1 span:nth-child(2){
	margin: 0px 16px;
}
.p2 a{
	font-size: 12px;
	color: #CBCBCB;
	float: left;
	display: block;
}
.p2 span{
	float: left;
	font-size: 12px;
	color: #CBCBCB;
	padding: 0px 9px;
	display: block;
}




